body {
    font-family: "DM Sans", Helvetica, sans-serif;
    align-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-family: "DM Mono", Helvetica, sans-serif;
    color: #D81000;
}

h2,
h3,
h4 {
    font-family: "DM Mono", Helvetica, sans-serif;
    color: blue;
}

img {
    width: 300px;
}

/*MENU, BON APPETIT*/

#home {
    background-color: #1E138E;
    color: white;
    padding: 15px;
    
}

#musicplayer {
    background-color: #D81000;
    color: white;
    padding: 15px;
    
}

#shopping {
    background-color: #F6FF00;
    color: black;
    padding: 15px;
   
}

#paintbynumbers {
    background-color: #1E138E;
    color: white;
    padding: 15px;
   
}

/*PAINT BY NUMBERS BABY*/

#painter {
    display: flex;
    flex-direction: row;
}
#painterbody {
    margin-left: 5%;
    margin-right: 5%;
}
#pictureframe {
                    display: flex;
                    flex-direction: row;
                    width: 869px;
                    height: 631px;
                    border-style: solid;
                    border-color: black;
                    border-width: 10px;
                }
                #column1 {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 50%;
                    
                }
                #block1 {
                    background-color: gray;
                    border-color: black;
                    border-style: solid;
                    height: 60%;
                    width: 100%;
                    text-align: center;
                }
                #block2 {
                    border-color: black;
                    border-style: solid;
                    height: 40%;
                    background-color: gray
                }
                #column2 {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 10%;
                }
                #block3 {
                    border-color: black;
                    border-style: solid;
                    height: 10%;
                    width: 100%;
                    background-color: gray;
                }
                #block4 {
                    border-color: black;
                    border-style: solid;
                    height: 50%;
                    width: 100%;
                    background-color: gray
                }
                #block5 {
                    border-color: black;
                    border-style: solid;
                    height: 40%;
                    width: 100%;
                    background-color: gray;
                }
                #column3 {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 40%;
                    
                }
                #section1 {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                }
                #thicc {
                    width: 80%;
                    height: 100%;
                }
                #block6 {
                    border-color: black;
                    border-style: solid;
                    width: 100%;
                    height: 80%;
                    background-color: gray
                }
                #block7 {
                    border-color: black;
                    border-style: solid;
                    width: 100%;
                    height: 20%;
                    background-color: gray;
                }
                #thin {
                    width: 20%;
                    height: 100%;
                }
                #block8 {
                    border-color: black;
                    border-style: solid;
                    width: 100%;
                    height: 25%;
                    background-color: gray;
                }
                #block9 {
                    border-color: black;
                    border-style: solid;
                    width: 100%;
                    height: 75%;
                    background-color: gray
                }
                #section2 {
                    height: 50%;
                    width: 100%;
                }
                #block10 {
                    border-color: black;
                    border-style: solid;
                    height: 100%;
                    background-color: gray;
                    text-align: center;
                }

                .questions {
                    display: flex;
                    flex-direction: row;
                    text-align: left;
                    align-content: left;
                    padding-left: 25px;
                }
                .qset1 {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    align-content: left;
                    padding-left: 25px;
                }

                .qset2 {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    align-content: left;
                    padding-left: 25px;
                }

/*SHOPPING*/
#experience {
    display: flex;
    flex-direction: row;
}

.product { 
    display: inline-flex;
    border-style: solid;
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
    height: 450px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.prodimage {
    width: 250px;
}

.addtocart {
    background-color: blue;
    color: white;
    font-family: "DM Sans", Helvetica, sans-serif;
    padding: 10px;
    border: none;
}

.amount {
    padding: 10px;
}

#cart {
    background-color: yellow;
    color: black;
    border-style: solid;
    width: 400px;
}

               
